<% extend './views/template.html' %>
<script>
	app.controller('page', function($scope, $http) {
		
	});
</script>

<div class="starter-template">
	<h1>R.O.C tenders</h1>
	
	<h3>關於此站</h3>
	<p>
　　基於賴打的一個發想，最後變成一個練習作品，想要參與 g0v 卻不知道如何開始，只好自己來了。
	</p>
	<p>
　　		最近九和一選舉，看見新聞上報導台南的市政經費不停被縮減，但是還是能在各方面發展沒有太大影響。所以這系統應該能幫助大家分辨，是否多數黨將經費集中在少數的縣市，並以此來宣稱自己的施政較優異。
	</p>
	<p>
　　或者有哪些單位執行上發生許多障礙，其實是沒有得到足夠的經費挹注造成的，就能了解有哪些單位需要大家更多的關注。
	</p>
	<h3>技術堆疊</h3>
	<ul>
		<li>前端：angularjs、bootstrap、C3</li>
		<li>後端：Nodejs、express、koa、livescript</li>
		<li>資料庫：compose.io(mongodb)</li>
	</ul>
	<h3>作者</h3>
	<p>
		<a target="_blank" href="//mlwmlw.org">blog</a>
		<br />
		<a target="_blank" href="//github.com/mlwmlw">github@mlwmlw</a>
	</p>
	<h3>原始碼</h3>
		<p>g0v practice <a href="http://github.com/mlwmlw/pcc">source code</a></p>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</div>
