<% extend './views/template.html' %>
<script>
	app.controller('page', function($scope, $http, $timeout, $filter, grid) {
		$scope.items = null;
		var type = '<%- @type %>';
		$http.get('/api/dates').then(function(res) {
			var dates = $scope.dates = res.data;
			for(var i in dates) {
				dates[i] = dates[i].replace(/T.+$/, '');
			}
			$scope.dates = dates = dates.sort().reverse();
			$scope.date = dates[0];
			$scope.loadByDate();	
		});
		$scope.loadByDate = function() {
			$scope.items = false;
			$http.get('/api/date/' + type + '/' + $scope.date).then(function(res) {
				$scope.grid.data = res.data;
			});
		};
		
		$scope.grid = grid;
	});
</script>

<div class="starter-template">
	<h1>中華民國政府 <% if @type == 'award': %>決標<% else: %>招標<% end %> 標案檢索</h1>
	<p class="lead">非官方網站，資料來源請見 <a href="http://web.pcc.gov.tw/">http://web.pcc.gov.tw/</a></p>
	<div class="form-group">
		<div class="col-md-8">
			<div class="form-group row">
				<label for="inputKey" class="col-md-2 control-label">發佈日期</label>
				<div class="col-md-4">
					<select class="form-control" ng-change="loadByDate()" ng-model="date" ng-options="d for d in dates" >
		<option value="">請選擇</option>
	</select>
				</div>
			</div>
		</div>
	</div>
	<span ng-show="!dates">資料載入中..</span>
	<ng-react-grid grid="grid"></ng-react-grid>
</div>
