<% extend './views/template.html' %>
<script>
app.controller('page', function($scope, $http) {
	$http.get('/api/hot/tenders').then(function(res) {
		$scope.tenders = res.data;
	})
	$http.get('/api/hot/unit').then(function(res) {
		$scope.units = res.data;
	})
	$http.get('/api/hot/merchant').then(function(res) {
		$scope.merchants = res.data;
	})
});
</script>
		
<div class="intro-header">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<div class="intro-message" style="background: rgba(0,0,0,0.7);padding: 0px 20px;">
										<h1>開放標案</h1>
										<h3>讓公民更容易關心繳納的稅金，如何被分配與使用，持續監督政商之利害關係。</h3>
								</div>
						</div>
				</div>
		</div>
		<!-- /.container -->
</div>
<div class="content-section-a">
		<div class="container">
				<div class="row">
						<div class="col-lg-5 col-sm-6">
								<h2 class="section-heading">熱門瀏覽標案</h2>
								<p class="lead">最近很多人關注的標案</p>
						</div>
						<div class="col-lg-5 col-lg-offset-2 col-sm-6">
							<ul style="margin-left: 20px;list-style: circle;">
								<li ng-repeat="tender in tenders">
									<a target="_blank" href="/tender/[[tender.unit]]/[[tender.job_number]]">[[tender.name]]</a>
								</li>
							</ul>
						</div>
				</div>

		</div>
		<!-- /.container -->

</div>
<div class="content-section-b">
		<div class="container">
				<div class="row">
						<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
								<h2 class="section-heading">熱門瀏覽單位</h2>
								<p class="lead">最近很多人關注的單位</p>
						</div>
						<div class="col-lg-5 col-sm-pull-6 col-sm-6">
							<ul style="margin-left: 20px;list-style: circle;">
								<li ng-repeat="u in units">
									<a target="_blank" href="/unit/[[u.unit]]">[[u.name]]</a>
								</li>
							</ul>
						</div>
				</div>
		</div>
		<!-- /.container -->
</div>

<div class="content-section-a">
		<div class="container">
				<div class="row">
						<div class="col-lg-5 col-sm-6">
								<h2 class="section-heading">熱門瀏覽公司</h2>
								<p class="lead">最近很多人關注的公司</p>
						</div>
						<div class="col-lg-5 col-lg-offset-2 col-sm-6">
							<ul style="margin-left: 20px;list-style: circle;">
								<li ng-repeat="m in merchants">
									<a target="_blank" href="/merchants/[[m.merchant]]">[[m.name]]</a>
								</li>
							</ul>
						</div>
				</div>

		</div>
		<!-- /.container -->

</div>
<div class="content-section-b">
		<div class="container">
				<div class="row">
						<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
								<hr class="section-heading-spacer">
								<div class="clearfix"></div>
								<h2 class="section-heading"><a href="#">最新弊案</a></h2>
								<p class="lead">最近上新聞事件的弊案的政府單位與得標廠商</p>
						</div>
						<div style="height: 300px;overflow: scroll;" class="col-lg-5 col-sm-pull-6 col-sm-6">
							<%- @news %>
						</div>
				</div>
		</div>
		<!-- /.container -->
</div>

<div class="content-section-a">
		<div class="container">
				<div class="row">
						<div class="col-lg-5 col-sm-6">
								<hr class="section-heading-spacer">
								<div class="clearfix"></div>
								<h2 class="section-heading"><a href="/stats">分月追蹤預算使用</a></h2>
								<p class="lead">依照各單位統計，每個月各政院於標案上的預算花費。</p>
						</div>
						<div class="col-lg-5 col-lg-offset-2 col-sm-6">
								<img  style="padding:50px 0 "class="img-responsive" src="assets/line.png" alt="">
						</div>
				</div>

		</div>
		<!-- /.container -->

</div>
<div class="content-section-b">
		<div class="container">
				<div class="row">
						<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
								<hr class="section-heading-spacer">
								<div class="clearfix"></div>
								<h2 class="section-heading"><a href="/stats">單位經費比例</a></h2>
								<p class="lead">檢視單月份各單位的標案預算的分配比例，可點擊檢視該單位詳細分配。</p>
						</div>
						<div class="col-lg-5 col-sm-pull-6  col-sm-6">
								<img class="img-responsive" src="assets/pie.png" alt="">
						</div>
				</div>
		</div>
		<!-- /.container -->
</div>
<div class="content-section-a">
		<div class="container">
				<div class="row">
						<div class="col-lg-5 col-sm-6">
								<hr class="section-heading-spacer">
								<div class="clearfix"></div>
								<h2 class="section-heading">得標廠商</a></h2>
								<p class="lead">瀏覽各參與標案<a href="/merchants">投標廠商</a>得標案件情況，與機關</a>間的利益關係。依照年度統計的<a href="/rank/partner">得標關係排行榜</a></p>
						</div>
						<div class="col-lg-5 col-lg-offset-2 col-sm-6">
								<img class="img-responsive" src="assets/unit.png" alt="">
						</div>
				</div>

		</div>
		<!-- /.container -->

</div>
<div class="content-section-b">
		<div class="container">
				<div class="row">
						<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
								<hr class="section-heading-spacer">
								<div class="clearfix"></div>
								<h2 class="section-heading">各式排行榜</h2>
								<p class="lead">依照月份統計，各重大建設的<a href="/rank/tender">招標情形</a>，與政府有重大金錢往來的<a href="/rank/merchant">得標廠商</a></p>
						</div>
						<div class="col-lg-5 col-sm-pull-6  col-sm-6">
								<img class="img-responsive" src="assets/rank.png" alt="">
						</div>
				</div>
		</div>
		<!-- /.container -->
</div>
<div class="row">
		<div class="col-lg-12 text-center">
				<h2 class="section-heading">About</h2>
				<h3 class="section-subheading text-muted"></h3>
		</div>
</div>
<div class="col-lg-12">
	<ul class="timeline">
			<li>
					<div class="timeline-image">
							<img class="img-circle img-responsive" src="https://secure.gravatar.com/avatar/0b57b8c75cfe984475b94fe0847f7665?s=200" alt="mlwmlw">
					</div>
					<div class="timeline-panel">
							<div class="timeline-heading">
									<h4>mlwmlw</h4>
									<h4 class="subheading"><a href="http://mlwmlw.org/">http://mlwmlw.org</a></h4>
							</div>
							<div class="timeline-body">
									<p class="text-muted">會對電腦講話的貓</p>
							</div>
					</div>
			</li>
			<!--li class="timeline-inverted">
					<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
					</div>
					<div class="timeline-panel">
							<div class="timeline-heading">
									<h4>March 2011</h4>
									<h4 class="subheading">An Agency is Born</h4>
							</div>
							<div class="timeline-body">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
							</div>
					</div>
			</li>
			
			<li class="timeline-inverted">
					<div class="timeline-image">
							<h4>Be Part
									<br>Of Our
									<br>Story!</h4>
					</div>
			</li-->
	</ul>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			</div>
		</div>
	</div>
</footer>
