<% extend './views/template.html' %>
<script>
	app.controller('page', function($scope, $http, $timeout) {
		$http.get('/api/month').success(function(res) {
			res = res.sort(function(b, a) {
				if (a.year != b.year) {
					if (+a.year < +b.year) return -1;
					if (+a.year > +b.year) return 1;
					return 0;
				}
				if (+a.month < +b.month) return -1;
				if (+a.month > +b.month) return 1;
				return 0;
			});
			$scope.month = res[0]
			$scope.monthes = res;
			$scope.stats()
		});
		$scope.stats = function() {
			var year = $scope.month.year,
				month = $scope.month.month;
			$http.get('/api/units_stats/' + year + '-' + month + '-01', {cache: true}).success(function(res) {
				$scope.data = res;
				$scope.breadcrumb = [];
				setUnit();
			});
		}
		var setUnit = $scope.setUnit = function(unit) {
			if(/\d+/.test(unit)) {
				$scope.breadcrumb = $scope.breadcrumb.slice(0, unit + 1);
				unit = $scope.breadcrumb[$scope.breadcrumb.length - 1];
				if(unit == '全部')
					unit = null;
			}
			else {
				$scope.breadcrumb.push(unit || '全部');
			}
			var units = $scope.data;
			var stats = {};
			var data = [];
			for(var i in units) {
				var u = units[i];
				if(unit == undefined)
					stats[u.parent] = stats[u.parent] ? stats[u.parent] + +u.price : +u.price;
				else if(unit == u.parent)
					stats[u.unit] = stats[u.unit] ? stats[u.unit] + +u.price: +u.price;
				else if(unit == u.unit)
					stats[u.unit] = stats[u.unit] ? stats[u.unit] + +u.price: +u.price;
			}
			for(var i in stats) {
				if(i == '')	continue;
				data.push([i, stats[i]]);
			}
			data.sort(function(b, a) {
				return a[1] - b[1];
			});
			data = data.slice(0, 20);
			chart(data);
		}
		function chart(data) {
			if($scope.chart) {
				$scope.chart.unload();
				setTimeout(function() {
					$scope.chart.load({
						columns: data
					});
				}, 600)
			}
			else {
				$scope.chart = c3.generate({
					bindto: '#chart',
					size: {
						height: 800
					},
					legend: {
							position: 'right'
					},
					data: {
						columns: data,
						type : 'pie',
						onclick: function (d, i) { 
							$scope.$apply(function() {
								setUnit(d.id); 
							});
						}
					}
				});
			}
		}
	});
</script>

<div class="starter-template">
	<h1>中華民國政府標案檢索</h1>
	<p class="lead">非官方網站，資料來源請見 <a href="http://web.pcc.gov.tw/">http://web.pcc.gov.tw/</a></p>
	<h2>各月招標資料統計</h2>
	<div>
		<a ng-click="setUnit(key)" href="javascript:void(0)" ng-repeat="(key, bread) in breadcrumb">
			<span ng-if="!$first">&gt;</span>
			[[bread]]
		</a>
	</div>
	<select ng-change="stats()" ng-model="month" ng-options="m.name for m in monthes"></select>
	<div class="row" id="chart">
	</div>
</div>
