<% extend './views/template.html' %>
<script>
	app.controller('page', function($scope, $http, $filter, grid) {
		var type = '<%- @type %>';
		if(type == 'merchant') {
			$http.get('/api/merchants/rank').then(function(res) {
				$scope.grid_sum.data = res.data;
			});
			$http.get('/api/merchants/rank/count').then(function(res) {
				$scope.grid_count.data = res.data;
			});
		}
		else {
			$scope.grid_price = grid;
			$http.get('/api/tender/rank').then(function(res) {
				$scope.grid_price.data = res.data;
			});
		}
		$scope.grid_sum = {
			data: [], 
			height: 1500,
			columnDefs: [
				{ field: "name", displayName: "廠商", render: function(row) {
					return React.DOM.a({href:"http://company.g0v.ronny.tw/id/" + row._id, target: '_blank'}, row.merchant.name);
				}},
				{ field: "address", displayName: "公司所在地", render: function(row) {
					return row.merchant.address;	
				}},
				{ field: "sum", displayName: "總金額", render: function(row) {
					return $filter('money')($filter('currency')(row.sum));
				}}, 
				{ field: "count", displayName: "得標數", render: function(row) {
					return row.count;	
				}},
				{ field: "name", displayName: "標案檢索", render: function(row) {
					return React.DOM.a({href:"/merchants/" + row._id, target: '_blank'}, '前往');
				}}
		]};
		$scope.grid_count = {
			data: [], 
			height: 1500,
			columnDefs: [
				{ field: "name", displayName: "廠商", render: function(row) {
					return React.DOM.a({href:"http://company.g0v.ronny.tw/id/" + row._id, target: '_blank'}, row.merchant.name);
				}},
				{ field: "address", displayName: "公司所在地", render: function(row) {
					return row.merchant.address;	
				}},
				{ field: "count", displayName: "得標數", render: function(row) {
					return row.count;	
				}},
				{ field: "sum", displayName: "總金額", render: function(row) {
					return $filter('money')($filter('currency')(row.sum));
				}},
				{ field: "name", displayName: "標案檢索", render: function(row) {
					return React.DOM.a({href:"/merchants/" + row._id, target: '_blank'}, '前往');
				}}
		]};
	});
	
</script>
<div class="starter-template">
	<% if @type == 'merchant' : %>
		<h1>標案總金額排行</h1>
		<ng-react-grid grid="grid_sum"></ng-react-grid>
		<h1>標案數量排行</h1>
		<ng-react-grid grid="grid_count"></ng-react-grid>
	<% else: %>
		<h1>本月標案金額排行</h1>
		<ng-react-grid grid="grid_price"></ng-react-grid>
	<% end %>

</div>
