<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url>
  <loc>http://pcc.mlwmlw.org/</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>1.00</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/month</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/date/tender</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/date/award</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/units</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/unit</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/merchants</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/merchant_type</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/stats</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/rank/merchant</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/rank/tender</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/rank/partner</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>http://pcc.mlwmlw.org/hackpad</loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.80</priority>
</url>
<% for date in @dates : %>
<url>
  <loc>http://pcc.mlwmlw.org/date/tender/<%- date %></loc>
  <lastmod>2018-10-13T17:01:21+00:00</lastmod>
  <priority>0.64</priority>
</url>
<% end %>
</urlset>
