<% extend './views/template.html' %>
<script>
	app.config(function($routeProvider, $locationProvider) {
			//$locationProvider.html5Mode(true);
	});
	
	app.controller('page', function($scope, $http, $location) {
		$scope.$watch(function () { return $location.search().parent; }, function (val) {
			if(!val)
				val = '';
			$http.get('/api/units/' + val).then(function(res) {
				$scope.units = res.data;
			});
		})
		$scope.load = function(parent) {
			$location.search('parent', parent);
		};
		if(!$location.search().parent)
			$scope.load();
	});
	
</script>
<div class="starter-template">
	<h1>中華民國政府標案檢索</h1>
	<div class="row">
		<alert ng-if="!units.length">查無資料</alert>
		<ul>
			<li ng-repeat="unit in units">
				<a href="javascript:void(0)" ng-click="load(unit._id)">[[unit._id]] - [[unit.name]]</a> <a href="/unit/[[unit.name]]">標案檢索</a>
			</li>
		</ul>
	</div>
</div>
