<% extend './views/template.html' %>
<script>
	app.controller('page', function($scope, $http, grid) {
		$scope.items = null;
		$scope.grid = grid;
		$http.get('/api/units/all').then(function(res) {
			var units = $scope.units = res.data;
			for(var i in units) {
				var reg = new RegExp("<%- @unit %>" || null);
				if(reg.test(units[i])) {
					$scope.unit = units[i];
					return;
				}
			}
		});
		$scope.loadUnit = function(unit) {
			if(!unit)
				return;
			$scope.items = false;
			$http.get('/api/unit/' + unit).then(function(res) {
				var items = $scope.grid.data = res.data;
				/*
				var dates = {};
				for(var i in items) {
					var date = items[i].publish.replace(/T.+$/, '');
					if(dates[date])
						dates[date].price += +items[i].price;
					else
						dates[date] = {date: date, price: +items[i].price};
				}
				dates = $.map(dates, function(value) {
					return value;
				});
				var chart = c3.generate({
					data: {
						json: dates,
						//types: {
						//	price: 'spline'
						//},
						keys: {
							x: 'date',
							value: ['price']
						}
					},
					zoom: {
						  enabled: true
					},
					axis: {
						x: {
							type: 'timeseries',
							tick: {
								format: '%Y-%m-%d'
							}
						}
					}
				});
				*/
				
				var map = {};
				for(var i in items) {
					map[items[i].id] = items[i];
				}
				items = [];
				for(var i in map) {
					items.push(map[i]);
				}
				items.sort(function(a, b) {
					return +b.price - +a.price;
				});
				items = items.slice(0, 10);
				var chart = c3.generate({
					data: {
						json: items,
						keys: {
								x: 'name',
								value: ['price']
						},
						type: 'bar'
					},
					axis: {
						rotated: true,
						x: {
							tick: {
								multiline: false
							},
							type:　'category'
						},
						y: {
							tick: {
								format: function(val) {
									val = val.toString();
									if(val.slice(-9) == '000000000')
										return val.slice(0, -9) + 'B';
									else if(val.slice(-6) == '000000')
										return val.slice(0, -6) + 'M';
									else
										return val;
								}
							}
						}
					},
					legend: {
						show: false
					}
				});
			});
			
		};
		$scope.loadUnit("<%- @unit %>");
	});
</script>
<div class="starter-template">
	發佈單位：
	<span ng-show="!units">資料載入中..</span>
	<div class="row">
		<div class="col-xs-7">
			<select class="form-control" ng-change="loadUnit(unit)" ng-model="unit" ng-options="u for u in units | filter: keyword">
				<option value="">請選擇</option>
			</select>
		</div>
		<div class="col-xs-5">
			<form style="margin: 0;" ng-submit="keyword = keyword_buffer" class="navbar-form">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="keyword_buffer" placeholder="過濾單位名稱" />

				</div>
				<button class="btn btn-default" type="submit">serach</button>
			</form>
		</div>
	</div>
	<div class="row" id="chart">
	</div>

	<ng-react-grid grid="grid"></ng-react-grid>
</div>
